.home-mobile {
  display: flex;
  flex-flow: column wrap;
  background: red;
}

/* header start */
.home-mobile--header {
  min-height: 56px;
  display: flex;
  background: var(--white-1);
  justify-content: space-between;
  border-bottom: 1px solid var(--green-1);
}

.home-mobile--header > img {
  margin: 17px;
}

.home-mobile--header-right {
  margin-right: 17px;
}
/* header end */

.home-mobile--navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.home-mobile--navbar > div {
  width: calc(100% / 3);
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-1);
}

.home-mobile--navbar > div.active {
  border-top: 5px solid var(--green-1);
  background: var(--white-1);
}

.home-mobile--content {
  background: var(--gray-1);
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 200px;
  width: 100vw;
}

.tab {
    display: flex;
    flex-flow: column wrap;
}

.tab-item {
    display: flex;
    background: var(--white-1);
    flex-flow: column wrap;
    padding: 10px 20px;
}

.tab-item + .tab-item {
    margin-top: 10px;
}

.tab-item--header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
}

.tab-item--header--title {
    color: var(--black-1);
    font-weight: 500;
}

.tab-item--header--label {
    color: var(--orange-1);
}

.tab-item--content {
    max-width: 100%;
}
