.content {
  padding: 20px 140px 140px 140px;
  background-color: var(--dark-bg);
}

.wide-box {
  background-color: white;
  margin-top: 30px;
}

.box {
  background-color: white;
  margin-top: 30px;
  width: 47%;
  padding: 10px;
}

.box-title {
  padding: 15px;
  border-bottom: var(--border-main);
  display: flex;
  justify-content: space-between;
}

.box-title-icon img {
  margin-left: 10px;
}

.right-item {
  float: right;
  color: #ee662f;
}

.box-body {
  padding: 20px 50px 20px 50px;
}

.fuel-select {
  width: 100%;
}

.flat {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px 0;
}

.flat p:hover {
  color: var(--active-color);
}

.fuel-box {
  border: var(--border-main);
  padding: 15px 15px 10 15px;
  width: 48%;
  font-size: 10px;
  font-weight: bold;
}

.fuel-box-title {
  padding: 10px;
  display: flex;
}

.fuel-box-title b {
  margin-top: 4px;
  margin-left: 8px;
}

.fuel-price {
  border: var(--border-main);
  padding: 17px 25px 5px 25px;
  margin: 10px 0 0 0;
  height: 28px;
}

.fuel-price-type {
  margin: 0;
}

.fuel-price-bg {
  width: 50%;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent var(--active-color) transparent;
  position: relative;
  margin-left: 37%;
  bottom: 29px;
  line-height: 0%;
}

.fuel-price-amount {
  position: relative;
  bottom: 62px;
  left: 80%;
  line-height: 0%;
}

.fuel-location {
  display: flex;
  color: #8b8b8b;
  justify-content: center;
}

.fuel-location p {
  margin-left: 10px;
}

.fuel-location img {
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.fuel-box-footer {
  background-color: var(--dark-bg);
  height: 25px;
  text-align: center;
  padding-top: 15px;
  color: var(--active-color);
}

.shopping-box {
  border: var(--border-main);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}

.shopping-product {
  float: left;
}

.shopping-product img {
  width: 100px;
}

.shopping-name {
  float: left;
  padding-top: 5px;
  font-size: 12px;
  width: 200px;
  overflow: hidden;
}

.shopping-amount {
  padding: 10px 20px 10px 0px;
  float: right;
  display: flex;
}

.shopping-discount {
  padding-top: 15px;
}

.shopping-discount p {
  font-size: 10px;
  margin: 0;
  color: #566575;
}

.shopping-discount b {
  margin: 0;
  color: #566575;
}

.shopping-price {
  padding-top: 25px;
  margin-left: 15px;
}

.shopping-price b {
  color: #39b54a;
}

.shopping-total {
  float: right;
  margin: 0 80px 20px 0;
}

.shopping-total b {
  color: #39b54a;
}

.groceries {
  display: flex;
}

.grocery-item {
  border: var(--border-main);
  width: 200px;
}
