.content {
  padding: 20px 140px 140px 140px;
  background-color: var(--dark-bg);
}

.wide-box {
  background-color: white;
}

.box {
  background-color: white;
  padding: 10px;
  width: 49%;
  margin: 20px 0 40px 0;
}

.box-title {
  padding: 15px;
  border-bottom: var(--border-main);
  display: flex;
  justify-content: space-between;
}

.box-title span {
  color: var(--active-color);
}

.box-title-icon img {
  margin-left: 10px;
}

.box-title-icon b {
  color: #ee662f;
}

.right-item {
  float: right;
}

.box-body {
  padding: 20px 50px 20px 50px;
}

.charts {
  padding-left: 40px;
  justify-content: space-between;
  overflow: hidden;
}

.charts div {
  max-height: 280px;
}

.fuel-select {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flat {
  display: flex;
  justify-content: space-between;
}

.flat p:hover {
  color: var(--active-color);
}

.stations {
  justify-content: space-between;
  margin: 0;
}

.fuel-box {
  border: var(--border-main);
  padding: 15px 15px 10 15px;
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px;
  width: 230px;
}

.fuel-box-title {
  padding: 10px;
  display: flex;
}

.fuel-box-title b {
  margin-top: 4px;
  margin-left: 8px;
}

.fuel-select {
  margin-bottom: 20px;
}

.fuel-price {
  border: var(--border-main);
  padding: 19px 25px 5px 25px;
  margin: 10px 0 0 0;
  height: 58px;
}

.fuel-price-type {
  margin: 0;
}

.fuel-price-bg {
  width: 78%;
  height: 0;
  border-style: solid;
  border-width: 0 0 55px 55px;
  border-color: transparent transparent var(--active-color) transparent;
  position: relative;
  margin-left: 37%;
  bottom: 110%;
}

.fuel-price-amount {
  position: relative;
  bottom: 62px;
  left: 80%;
  line-height: 0%;
}

.fuel-location {
  display: flex;
  color: #8b8b8b;
  justify-content: center;
}

.fuel-location p {
  margin-left: 10px;
  margin-top: 15px;
}

.fuel-location img {
  width: 10px;
  height: 10px;
  margin-top: 15px;
  margin-left: 10px;
}

.fuel-box-footer {
  background-color: var(--dark-bg);
  height: 45px;
  text-align: center;
  padding-top: 15px;
  color: var(--active-color);
}

.shopping-box {
  border: var(--border-main);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}

.shopping-product {
  margin-left: -20px;
}

.shopping-product img {
  width: 130px;
}

.shopping-name {
  padding-top: 5px;
  font-size: 12px;
  margin-left: 30px;
}

.shopping-amount {
  padding: 10px 10px 10px 0px;
  float: right;
}

.shopping-discount {
  padding-top: 15px;
}

.shopping-price {
  padding-top: 25px;
  margin-left: 25px;
}

.shopping-delete {
  padding-top: 25px;
  margin-left: 30px;
  float: right;
}

.shopping-total {
  float: right;
  margin: 0 80px 20px 0;
}

.shopping-total b {
  color: #39b54a;
}

.groceries {
}

.grocery-item {
  border: var(--border-main);
  font-size: 10px;
  margin: 20px 0 10px 35px;
  padding-top: 15px;
}

.grocery-item img {
  width: 150px;
  margin-bottom: 10px;
}

.grocery-amount {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
}
