@font-face {
  font-family: "Gotham Medium";
  src: url("./assets/GothamMediumRegular.ttf");
}

:root {
  --border-main: 1px solid #e3e3e3;
  --active-color: #38ac70;
  --dark-bg: #dbdbdb;
  --amount-color: #39b54a;
  --green-1: #38ac70;
  --gray-1: #f8f8f8;
  --gray-2: #f1f1f1;
  --gray-3: #8b8b8b;
  --gray-4: #d8d8d8;
  --gray-5: #566575;
  --white-1: #ffffff;
  --black-1: #000000;
  --orange-1: #eb642e;
}

#app {  
  font-family: "Gotham Medium";
  background-color: var(--dark-bg);
  height: 100vh;
  max-width: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-3); 
  border-radius: 10px

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-5); 
}
