@font-face {
  font-family: "Gotham Medium";
  src: url("./assets/GothamMediumRegular.ttf");
}

:root {
  --border-main: 2px solid #e3e3e3;
  --active-color: #38ac70;
  --dark-bg: #dbdbdb;
  --amount-color: #39b54a;
  --green-1: #38ac70;
  --gray-1: #f8f8f8;
  --gray-2: #f1f1f1;
  --gray-3: #8b8b8b;
  --gray-4: #d8d8d8;
  --white-1: #ffffff;
  --black-1: #000000;
  --orange-1: #eb642e;
}

#app {
  font-family: "Gotham Medium";
  background-color: var(--dark-bg);
  height: 100vh;
  width: 100vw;
}
