.grocery-product:not(:first-child) {
  margin-top: 20px;
}

.grocery-product {
  display: flex;
  font-size: 12px;
  padding: 10px;
  margin: 20px 20px 0 20px;
  border: 1px solid var(--gray-4);

}

.grocery-image {
  margin-left: 10px;
  width: 64px;
  height: 62px;
}

.grocery-detail {
  width: calc(100% - 104px);
  overflow: hidden;
}

.grocery-delete {
  width: 32px;
  margin-left: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.delete-icon {
  width: 20px;
  height: 17px;
}

.grocery-total {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
  padding: 10px;
  background-color: var(--gray-1);
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.grocery-total > b:first-child {
  font-size: 14px;
}

.grocery-total > b:last-child {
  font-size: 16px;
}

.top-groceries span {
  font-size: 14px;
  color: var(--active-color);
}

.top-specials {
  border: 1px solid var(--gray-4);
  height: 200px;
  margin-left: 10px;
}

.special-title {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  font-size: 12px;
}

.special-title > img {
  width: 53px;
  height: 13px;
}

.special-discount {
  background-color: var(--amount-color);
  font-size: 10px;
  color: var(--white-1);
  padding: 5px;
}

.special-image {
  text-align: center;
}

.special-image img {
  margin: auto;
  height: 74px;
  width: 74px;
}

.special-fullname {
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
  height: 4em;
}

.special-price {
  padding: 0 30px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.p0 {
  padding: 0px;
}

.container {
  background: var(--white-1);
  margin-top: -20px;
  padding-top: 20px;
}