.meter-body {
}

.meter-container {
}

.meter-graph {
  width: 100%;
}

.meter-arrow {
  position: relative;
  bottom: 50px;
  left: 45%;
}

.credit-container {
  display: flex;
  margin-top: -30px;
}

.credit-score {
  background-color: #e3e3e3;
  text-align: center;
  padding-top: 13px;
  width: 46%;
}

.credit-status {
  background-color: var(--active-color);
  height: 50px;
  text-align: center;
  color: white;
  padding-top: 13px;
  width: 46%;
}
