ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: white;
  padding: 0 20px 0 20px;
  font-weight: 500;
  font-size: 16px;
  height: 56px;
  width: 100%;
}

li {
  height: 100%;
  float: left;
}

.br {
  border-right: var(--border-main);
}

li a:not(.right-navigation), .logo {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px 15px 16px;
  text-decoration: none;
}

li a:hover {
  color: var(--active-color);
}


.active {
}

.right-navigation {
  float: right;
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

